@external .grabSprite, .layerItem, .removeLayer, .checkbox, .iconBubble, .iconPiechart, .iconIcon;

@sprite .grabSprite {
	gwt-image: "grabSprite";
	float: left;
	cursor: move;
}	

@sprite .removeLayer {
	gwt-image: "removeLayer";
	float: right;
	line-height: 2em;
}

@sprite .iconBubble {
	gwt-image: "bubble";
	float: left;
	line-height: 2em;
}

@sprite .iconPiechart {
	gwt-image: "piechart";
	float: left;
	line-height: 2em;
}

@sprite .iconIcon {
	gwt-image: "icon";
	float: left;
	line-height: 2em;
}

.checkbox {
	float: left;
	margin:5px;
	vertical-align: middle;
}

.layerItem {
	margin: 5px;
	line-height: 1em;
	text-align: left;
}