@external .grabSprite, .layerItem, .removeLayer, .checkbox, .iconBubble, .iconPiechart, .iconIcon, .layerName;

@sprite .grabSprite {
	gwt-image: "grabSprite";
	float: left;
	cursor: move;
	top: 0.5em;
	position: relative;
	margin: 0.25em;
}	

@sprite .removeLayer {
	gwt-image: "removeLayer";
	float: right;
	margin: 0.25em;
}

@sprite .iconBubble {
	gwt-image: "bubble";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}

@sprite .iconPiechart {
	gwt-image: "piechart";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}

@sprite .iconIcon {
	gwt-image: "icon";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}

.layerName {
	margin: 0.25em;
}

.checkbox {
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}

.layerItem {
	text-align: left;
	overflow: hidden;
	height: 3.5em;
	position: relative;
}