@external .iconMarker, .locationName, .location, .locationAxe;

@sprite .iconMarker {
	gwt-image: "marker";
	float: left;
	position:relative;
}

.locationName {
	margin: 0.25em;
	display:table-cell;	
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
}

.locationAxe {
	font-style: italic;
	display:inline;	
	vertical-align: middle;
	font-weight: normal;
}

.location {
	
}