target/
/src/main/java/org/sigmah/client/i18n/UIConstants.java
/gwt-unitCache
/ActivityInfo.launch
/Embed.launch
/Login.launch
/org.activityinfo.login.LoginApi.launch
.*
.metadata/
/SomeXmlTest.xml
war/Login
war/ActivityInfo
war/Embed
war/WEB-INF/deploy
war/WEB-INF/classes
war/WEB-INF/appengine-generated
