body {
	font-family: Arial;
}

.header {
	height: 56px;
	width: 100%;
	float: left;
	background: url(image/bg-grey.jpg) repeat-x;
	clear: both;
}

.logo {
	height: 56px;
	width: 135px;
	float: left;
	padding-left: 25px;
	background-color: #E86F00;
	background: url(image/bg-logo.jpg) no-repeat;
}

#orglogo {
	width: 100%;
	height: 100%;
	background: transparent url(image/default-logo.png) left center no-repeat;
	opacity: 0.5;
}

.name {
	height: 56px;
	width: 420px;
	float: left;
	background: url(image/bg-name.jpg) no-repeat;
}

#username {
	height: 16px;
	width: 340px;
	float: right;
	text-align: right;
	margin-right: 80px;
	padding-top: 1px;
	font-size: 11px;
	color: #fff;
	clear: both;
}

#username div {
	display: inline;
}

#orgname {
	height: 40px;
	width: 420px;
	float: left;
	padding-top: 9px;
	padding-left: 6px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	clear: both;
}

.sigmah {
	height: 56px;
	width: 308px;
	float: right;
	background: url(image/sigmah-logo.jpg) no-repeat;
	overflow: hidden;
}

#logout {
	font-size: 11px;
	height: 16px;
	width: 92px;
	float: right;
	text-align: right;
	padding-top: 1px;
	margin-right: 15px;
}

#logout a {
	color: #EE9329;
	text-decoration: none;
}

#logout a:hover {
	text-decoration: underline;
}

.minimenu {
	height: 16px;
	width: 200px;
	float: right;
	text-align: right;
	padding-top: 1px;
	color: #C2C1C1;
	font-size: 11px;
}

.minimenu a {
	color: #C2C1C1;
	font-size: 11px;
	text-decoration: none;
}

.minimenu a:hover {
	text-decoration: underline;
}

.bar {
	height: 34px;
	width: 100%;
	float: left;
	clear: both;
	background: url(image/bar-repeat.jpg) repeat-x;
	position: relative;
	overflow: hidden;
}

.tab-bar-left-decoration {
	width: 15px;
	height: 100%;
	background-color: #e86f00;
	position: absolute;
	left: 0px;
}

.tab-bar-left-decoration-round {
	width: 5px;
	height: 5px;
	position: absolute;
	left: 15px;
	background-image: url('image/bar-top-left.png');
}

#arrows {
	height: 34px;
	width: 55px;
	background: url(image/panel/bg-arrows.png) no-repeat;
	position: absolute;
	right: 0px;
}

#tabs {
	width: 100%;
	height: 100%;
	margin-left: 15px;
	overflow: hidden;
	position: absolute;
}

.tab {
	cursor: default;
	position: relative;
	float: left;
}

.tab.home {
	margin-right: 2px;
}

.tab .left {
	height: 34px;
	width: 11px;
	float: left;
	background: url(image/panel/panleft.png) no-repeat;
}

.tab .center {
	height: 34px;
	padding-top: 11px;
	padding-right: 5px;
	float: left;
	background: url(image/panel/panmiddle.png) repeat-x;
	color: #B3B3B3;
	font-size: 12px;
}

.tab:hover .center {
	color: white;
}

.tab .right {
	height: 34px;
	float: left;
	padding-left: 3px;
	padding-top: 10px;
	width: 19px;
	background: url(image/panel/panright.png) no-repeat;
}

.tab.home .left {
	height: 34px;
	width: 37px;
	float: left;
	background: url(image/panel/homeleft2.jpg) no-repeat;
}

.tab.home .right {
	height: 34px;
	float: left;
	width: 12px;
	background-position: right top;
}

.tab-active .left {
	height: 34px;
	width: 11px;
	float: left;
	background: url(image/panel/panleft-over.jpg) no-repeat;
}

.tab-active .center {
	height: 34px;
	padding-top: 11px;
	padding-right: 5px;
	float: left;
	background: url(image/panel/panmiddle-over.jpg) repeat-x;
	color: #ffffff;
	font-size: 12px;
}

.tab-active .right {
	height: 34px;
	float: left;
	padding-left: 3px;
	padding-top: 10px;
	width: 19px;
	background: url(image/panel/panright-over.jpg) no-repeat;
}

.tab-active.home .left {
	height: 34px;
	width: 37px;
	float: left;
	background: url(image/panel/homeleft.png) no-repeat;
}

.tab-close {
	width: 11px;
	height: 11px;
	background-image: url('image/panel/closes.png');
	background-position: 0 0;
	position: absolute;
	right: 5px;
	bottom: 21px;
}

.tab-close:hover {
	background-position: 0 -11px;
}

.tab-button-left {
	width: 20px;
	height: 34px;
	border: 1px solid #3c3c3e;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: black url('image/tab-buttons.png') 0 0;
}

.tab-button-left:hover {
	background: black url('image/tab-buttons.png') 0 -32px;
}

.tab-button-left:active {
	background: black url('image/tab-buttons.png') 0 -64px;
}

.tab-button-left[disabled] {
	background: black url('image/tab-buttons.png') 0 -96px;
}

.tab-button-left::-moz-focus-inner {
	border: none;
}

.tab-button-right {
	width: 20px;
	height: 34px;
	border: 1px solid #3c3c3e;
	border-left-color: #909090;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: black url('image/tab-buttons.png') 18px 0;
}

.tab-button-right:hover {
	background: black url('image/tab-buttons.png') 18px -32px;
}

.tab-button-right:active {
	background: black url('image/tab-buttons.png') 18px -64px;
}

.tab-button-right[disabled] {
	background: black url('image/tab-buttons.png') 18px -96px;
}

.tab-button-right::-moz-focus-inner {
	border: none;
}

.content-margins {
	padding: 10px 15px 10px 15px;
}

#content {
	clear: both;
}

.main-background {
	background-color: #494748;
}

.panel-background {
	background-color: white;
}

.join-background {
	background-color: rgb(167, 143, 100);
}

.hyperlink a,
.hyperlink a:active,
.hyperlink a:hover,
.hyperlink a:focus,
.hyperlink a:link,
.hyperlink a:visited {
	text-decoration: underline;
	cursor: pointer;
	color: black;
}

.project-top-bar {
	font-size: 8pt;
	font-weight: bold;
	color: white;
}

.project-top-bar a { /* font-weight: normal; */
	color: white;
}

.project-tabPhases {
	outline: 0;
}

.project-current-phase-panel {
	background-color: white;	
}

.project-panelReminders {
	margin-bottom: 10px;
}

.project-phase-active span.x-tab-strip-text {
	padding-left: 14px;
	background: transparent url(./image/bullet_star.png) no-repeat left center;
}

.project-phase-closed span.x-tab-strip-text {
	padding-left: 14px;
	background: transparent url(./image/bullet_star_black.png) no-repeat left center;
}

.project-label-10 {
	font-size: 10pt;
}

.toolbar-title {
    font-weight: bold !important;
    margin-left: 4px;
    margin-right: 4px !important;
}

/* ----------------------------------------------------------------- Calendar */
.calendar {
	border-collapse: collapse;
	padding: 0;
	font-size: 10pt;
}

.calendar-header {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	padding-bottom: 8px;
}

.calendar-column-header {
	text-align: center;
	font-weight: bold;
}

.calendar-row-header {
	width: 2%; /* 20px; */
	padding-right: 4px;
	vertical-align: top;
	color: #EE9329;
	font-weight: bold;
}

.calendar-cell {
	border: 1px solid lightgrey;
	vertical-align: top;
}

.calendar-day .calendar-cell {
	width: 98%;
	height: 96%;
}

.calendar-month .calendar-cell {
	width: 14%;
	height: 16%;
}

.calendar-week .calendar-cell {
	width: 14%;
	height: 96%;
}

.calendar-cell-other-month {
	background-color: #EFEFEF;
}

.calendar-cell-other-month .calendar-cell-header {
	color: lightgrey;
}

.calendar-cell-header {
	height: 16px;
	font-weight: bold;
	color: #555;
	padding-right: 4px;
	text-align: right;
}

.calendar-cell-today { /* border: 2px solid black; */
	background-color: #eaeff8;
}

.calendar-event {
	overflow: hidden;
	height: 16px;
	cursor: default;
}

.calendar-fullday-event {
	font-weight: bold;
	color: white;
	background-color: black;
}

.calendar-event-date {
	padding-left: 4px;
	font-size: 9pt;
}

.calendar-event-label {
	padding-left: 4px;
}

.calendar-event-1 {
	color: #EE9329;
}

.calendar-fullday-event-1 {
	background-color: #EE9329;
}

.calendar-event-2 {
	color: #1c61d9;
}

.calendar-fullday-event-2 {
	background-color: #1c61d9;
}

.calendar-event-3 {
	color: #8cbf40;
}

.calendar-fullday-event-3 {
	background-color: #8cbf40;
}

.calendar-event-4 {
	color: #ad2d2d;
}

.calendar-fullday-event-4 {
	background-color: #ad2d2d;
}

.calendar-event-5 {
	color: #9643a5;
}

.calendar-fullday-event-5 {
	background-color: #9643a5;
}

.calendar-event-6 {
	color: #737373;
}

.calendar-fullday-event-6 {
	background-color: #737373;
}

/*
.calendar-event:before {
    padding-left: 4px;
    content: " • ";
}
*/
.calendar-event-limit {
	color: #482A1E;
	text-align: center;
	font-weight: bold;
	width: 100%;
	height: 16px;
	display: block;
	text-decoration: none;
}

.calendar-event-limit:hover {
	color: #EE9329;
}

/* ----------------------------------------------------------- Calendar Popup */
.gwt-DecoratedPopupPanel {
	background-color: white;
	border: 1px solid darkgrey;
	font-size: 10pt;
	padding: 4px;
}

.calendar-popup-header {
	font-weight: bold;
}

.calendar-popup-date {
	font-size: 9pt;
	font-weight: bold;
}

.calendar-popup-description {
	padding-top: 4px;
	padding-bottom: 4px;
	whitespace: pre !important;
}

/* ------------------------------------------------------------------ Ext-GWT */
.x-panel-header a {
	color: #482A1E;
}

.x-panel-header a:hover {
	color: white;
}

/* -------------------------------------------------------------- Flexibility */
.flexibility-layout {
    /*
	border-spacing: 0;
        margin: 4px 20px 0 0;
    */
    padding: 4px 20px 0 0;
}

.flexibility-layout td {
	vertical-align: top;
}

.flexibility-textarea {
	padding-bottom: 16px;
}

.flexibility-element-label {
	font-size: 8pt;
}

.flexibility-element-field-label {
	font-weight: bold;
}

.flexibility-text-field {
	padding-left: 0;
	padding-right: 0;
}

.flexibility-action {
	text-decoration: underline;
	cursor: pointer;
}

.flexibility-action-iconable {
	padding-left: 4px;
}

/* ----------------------------------------------------- GWT HTML Table */
.html-grid-header-row {
	border-bottom: solid 1px #B7A076;
	background: #F9F9F9 url(./image/grid3-hrow-2.gif) repeat scroll 0 bottom;
	text-align: right;
	white-space: normal;
}

.html-grid-header-row div.gwt-Label {
	white-space: normal;
}

.html-textbox {
	padding: 0;
	border: 0;
	overflow: auto;
	line-height: 14px;
	font-family: arial, tahoma, helvetica, sans-serif;
	font-size: 11px;
	color: #4B3E2D;
}

.html-textbox:focus {
	background-color: #EFE8D9;
}

.html-textbox-cell {
	padding: 3px 3px 3px 5px;
}

.html-table-cell {
	border-top: solid 1px #EDEDED;
	border-right: solid 1px #EDEDED;
}

.html-table-cell-last {
	
}

/* ----------------------------------------------- Flex table view */
.flextable-view-group-cell {
	background-color: #E7D2A3;
}

.flextable-view-group-label {
	font-weight: bold;
	line-height: 20px;
}

.flextable-view-merged-row {
	border-top: 0;
}

/* ----------------------------------------------- Log frame */ /*
.logframe-grid-main-panel .x-box-inner {
	overflow-y: scroll;
}
*/
.logframe-body {
	overflow-y: scroll;
}

.logframe-grid-add-action,.logframe-grid-add-group-action {
	text-align: right;
	text-decoration: underline;
	cursor: pointer;
}

.logframe-grid-code-label {
	font-weight: bold;
}

.logframe-grid-menu-button {
	color: black;
	margin-left: 8px;
	text-decoration: none;
}

.logframe-grid-menu-button:hover {
	color: #EE9329;
}

/* --------------------------------------------- Reports */
.project-report {
    padding-top: 4px;
    padding-left: 8px;
    font-size: 10pt;
}

.project-report-level-1 {
    margin-bottom: 16px !important;
    width: 95%;
}

.project-report-level-1 .fold-title {
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: bold;
    color: black;
}

.project-report-level-2 .fold-title {
    text-transform: none;
    font-size: 12pt;
}

.project-report-level-3 .fold-title {
    font-size: 10pt;
}

.project-report-key-question-label {
    font-size: 12px;
    font-weight: bold;
}

.project-report-key-question {
    margin: 0;
    border: 0;
    border-top: 1px solid black;
    background-color: white;
    display: block;
    width: 100%;
}

.gwt-RichTextArea {
	border: 1px solid black;
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 100%;
}

.fold {
	margin-top: 4px;
	margin-bottom: 4px;
}

.fold-title {
	cursor: pointer;
        padding-left: 16px;
}

.fold-tool-button {
    float: left;
    cursor: pointer;
}

.fold-tool-button:hover {
    background-color: rgb(231,210,163) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.fold-content {
	padding-left: 20px;
}

.fold-folded {
    background: url('image/fold-folded.png') transparent no-repeat left center;
}

.fold-collapsed {
    background: url('image/fold-expand.png') transparent no-repeat left center;
}

.fold-expanded {
    background: url('image/fold-collapse.png') transparent no-repeat left center;
}

/* --------------------------------------------- Banner */

.banner {
	padding: 4px;
}

.banner-logo {
	padding-left: 12px;
	width: 70px;	
}

.banner-flex {
	padding-left: 10px;
}

/* ---------------------------------------------- Login */

.login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(73,71,72);
}

.login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 650px;
    height: 150px;
    margin-left: -325px;
    margin-top: -75px;
}

.login-box-logo {
    width: 250px;
    height: 150px;
    text-align: left;
}

.login-box-form {
    width: 400px;
    height: 150px;
    background-color: #e96f00;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.login-box-form-label {
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 12px;
    color: white;
    text-align: right;
    width: 120px;
    padding-right: 8px;
}

.login-box-form-forgotten {
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

.login-box-form-separator {
    width: 33%;
    height: 8px;
}

/* ---------------------------------------------- Monitored points */

.points-date-exceeded {
	color: red;	
}

.points-completed {
	text-decoration: line-through;
}

/* ---------------------------------------------- History */

.history-empty-string {
	font-style: italic;	
}

.history-textarea {
	padding: 0;
	border: 0;
	overflow: auto;
	line-height: 14px;
	font-family: arial, tahoma, helvetica, sans-serif;
	font-size: 11px;
}
