body {
    font-family: Arial;
}

.header {
    height:56px;
    width:100%;
    float:left;
    background:url(image/bg-grey.jpg) repeat-x;
    clear:both;
}

.logo{
    height:56px;
    width:135px;
    float:left;
    padding-left:25px;
    background-color:#E86F00;
    background:url(image/bg-logo.jpg) no-repeat;
}

#orglogo{
    width: 100%;
    height: 100%;
    background: transparent url(image/ideia-126.png) left center no-repeat;
    opacity: 0.5;
}

.name{
    height:56px;
    width:420px;
    float:left;
    background:url(image/bg-name.jpg) no-repeat;
}

#username{
    height:16px;
    width:340px;
    float:right;
    text-align:right;
    margin-right:80px;
    padding-top:1px;
    font-size:11px;
    color:#fff;
    clear:both;
}

#username div {
    display: inline;
}

#orgname{
    height:40px;
    width:420px;
    float:left;
    padding-top:9px;
    padding-left:6px;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#fff;
    clear:both;
}

.sigmah{
    height:56px;
    width:308px;
    float:right;
    background:url(image/sigmah-logo.jpg) no-repeat;
    overflow:hidden;
}

#logout {
    font-size:11px;
    height:16px;
    width:92px;
    float:right;
    text-align:right;
    padding-top:1px;
    margin-right:15px;
}

#logout a {
    color:#EE9329;
    text-decoration:none;
}

#logout a:hover{
    text-decoration:underline;
}

.minimenu{
    height:16px;
    width:200px;
    float:right;
    text-align:right;
    padding-top:1px;
    color:#C2C1C1;
    font-size:11px;
}
.minimenu a{
    color:#C2C1C1;
    font-size:11px;
    text-decoration:none;
}
.minimenu a:hover{
    text-decoration:underline;
}

.bar{
    height:34px;
    width:100%;
    float:left;
    clear:both;
    background:url(image/bar-repeat.jpg) repeat-x;
    position: relative;
    overflow: hidden;
}

.tab-bar-left-decoration {
    width: 15px;
    height: 100%;
    background-color: #e86f00;
    position: absolute;
    left: 0px;
}

.tab-bar-left-decoration-round {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 15px;
    background-image: url('image/bar-top-left.png');
}

#arrows{
    height:34px;
    width:55px;
    background:url(image/panel/bg-arrows.png) no-repeat;
    position: absolute;
    right: 0px;
}


#tabs {
    width: 100%;
    height: 100%;
    margin-left: 14px;
    overflow: hidden;
    position: absolute;
}

.tab {
    margin-left: 2px;
    cursor: default;
    
    position: relative;
}

.tab .left {
    height:34px;
    width:11px;
    float:left;
    background:url(image/panel/panleft.png) no-repeat;
}

.tab .center {
    height:34px;
    padding-top:11px;
    padding-right:5px;
    float:left;
    background:url(image/panel/panmiddle.png) repeat-x;
    color:#B3B3B3;
    font-size:12px;
}

.tab .right {
    height:34px;
    float:left;
    padding-left:3px;
    padding-top:10px;
    width:19px;
    background:url(image/panel/panright.png) no-repeat;
}

.tab.home .left {
    height:34px;
    width:37px;
    float:left;
    background:url(image/panel/homeleft2.jpg) no-repeat;
}

.tab.home .right {
    height:34px;
    float:left;
    width:12px;
    background-position: right top;
}

.tab-active .left {
    height:34px;
    width:11px;
    float:left;
    background:url(image/panel/panleft-over.jpg) no-repeat;
}

.tab-active .center {
    height:34px;
    padding-top:11px;
    padding-right:5px;
    float:left;
    background:url(image/panel/panmiddle-over.jpg) repeat-x;
    color:#ffffff;
    font-size:12px;
}

.tab-active .right {
    height:34px;
    float:left;
    padding-left:3px;
    padding-top:10px;
    width:19px;
    background:url(image/panel/panright-over.jpg) no-repeat;
}

.tab-active.home .left {
    height:34px;
    width:37px;
    float:left;
    background:url(image/panel/homeleft.png) no-repeat;
}

.tab-close {
    width: 11px;
    height: 11px;
    background-image: url('image/panel/closes.png');
    background-position: 0 0;
    
    position: absolute;
    right: 5px;
    bottom: 21px;
}

.tab-close:hover {
    background-position: 0 -11px;
}

.tab-button-left {
    width: 20px;
    height: 34px;
    border: 1px solid #3c3c3e;
    
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;

    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;

    background: black url('image/tab-buttons.png') 0 0;
}

.tab-button-left:hover {
    background: black url('image/tab-buttons.png') 0 -32px;
}

.tab-button-left:active {
    background: black url('image/tab-buttons.png') 0 -64px;
}

.tab-button-left::-moz-focus-inner {
    border: none;
}

.tab-button-right {
    width: 20px;
    height: 34px;
    border: 1px solid #3c3c3e;
    border-left-color: #909090;

    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;

    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;

    background: black url('image/tab-buttons.png') 18px 0;
}

.tab-button-right:hover {
    background: black url('image/tab-buttons.png') 18px -32px;
}

.tab-button-right:active {
    background: black url('image/tab-buttons.png') 18px -64px;
}

.tab-button-right::-moz-focus-inner {
    border: none;
}

#content {
    clear: both;
}

/* -------------------------------------------------------------- Flexibility */

.sigmah-tabProject, .sigmah-tabPhases {
	outline: 0;
}
.sigmah-tabProject .x-border-layout-ct {
	background-color: #FFFFEE;
}

.sigmah-tabProject ul.x-tab-strip-top {
	background: none white;
}
.sigmah-tabProject .x-tab-panel-header {
	border-top: none;
	border-left: none;
	border-right: none;
}
.sigmah-tabProject ul.x-tab-strip li {
	margin-left: 8px;
}

.sigmah-tabPhases ul.x-tab-strip-top {
	background: none #FFFFEE;
	padding-top: 0;
}
.sigmah-tabPhases .x-tab-panel-header {
	border-top: none;
	border-left: none;
	border-right: none;
}
.sigmah-tabPhases ul.x-tab-strip li {
	margin-left: 4px;
}

.sigmah-panelReminders {
	margin-bottom: 10px;
}

.sigmah-layout {
	border-spacing: 0;
}
.sigmah-layout td {
	vertical-align: top;
}

.sigmah-active-phase span.x-tab-strip-text {
	color: red;
}
.sigmah-closed-phase span.x-tab-strip-text {
	color: #777;
	font-style: italic;	
}

.sigmah-required-elements-grid {
	border: 1px solid red;
}
.sigmah-element-label {
	font-size: 8pt;	
}
.sigmah-element {
	padding-bottom: 8px;	
}
.sigmah-element-fieldName {
	font-weight: bold;	
}
.sigmah-label-10 {
	font-size: 10pt;	
}