@external .hit, .hits, .additions, .addition, .searchBox .iconDatabase, .iconActivity, .iconAdminEntity, .iconSite, .iconPartner, .iconProject, . iconAttribute, .iconAttributeGroup;

@sprite .iconDatabase {
	gwt-image: "activity";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}
@sprite .iconActivity {
	gwt-image: "adminEntity";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}
@sprite .iconAdminEntity {
	gwt-image: "site";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}
@sprite .iconSite {
	gwt-image: "database";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}	
@sprite .iconPartner {
	gwt-image: "partner";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}
@sprite .iconProject {
	gwt-image: "project";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}

@sprite .iconAttribute {
	gwt-image: "attribute";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}

@sprite .iconAttributeGroup {
	gwt-image: "attributeGroup";
	float: left;
	top: 0.75em;
	position: relative;
	margin: 0.25em;
}

.hits {
	margin: 0.25em;
	vertical-align: middle;
	background-color: grey;
}

.hit {
	text-align: left;
	float: left;
	background-color: red;
}

.additions {
	margin: 0.25em;
	background-color: black;
}

.addition {
	text-align: left;
	float: left;
	background-color: purple;
}

.searchBox {
	font-size: 20px;
	height: 1.5em;
	background-image: url('search.png');
	background-repeat: no-repeat;
}

.link {
	font-size: 12px;
}