@external .hit, .hits, .additions, .addition, .searchBox .site, .sites, .date, .comment;

.sites {
	font-size: 12px;
	margin: 0.25em;
	vertical-align: middle;
	background-color: #F7F8E0;
	width: 90%;
	padding: 8px;
}

.site {
	font-size: 12px;
	width: 100%;
	text-align: left;
	float: left;
	background-color: #F3E2A9;
	padding: 4px;
	border-width: 1px;
	border-style: inset;
}

.date {
	font-size: 12px;
}

.searchBox {
	font-size: 20px;
	height: 1.5em;
	background-image: url('search.png');
	background-repeat: no-repeat;
	background-color: #F2F2F2;
}

.link {
	font-size: 12px;
}

.comment {
	background-color: yellow;
	padding: 8px;
	border-style: dotted;
	border-width: 1px;
	background-image: url('search.png');
	font-size: 12px;
}